.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}

.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 20% 40%;
    background: white;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;

    border-radius: 4em;
    border-style: solid;
    border-width: thick;
    border-color: rgb(08, 46, 52, 0.6);
    grid-column: 2/3;
}

.modal_header {
}

.modal_close_button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: 0.3;
    cursor: pointer;
    border: none;
}
