.container {
    background-color: #cfd0ce;
    color: #787978;
    width: 100%;
}
.body a:hover{
    color: #585858;
}
.body a{
    color: #585858;
}
.hubLink {
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
}
.budgetLink a{
    font-weight: 800;
}
.southLink a{
    font-weight: 800;
}
.southLink{
    padding-bottom: 15px;
}
